@font-face {
    font-family: "Inter";
    src: url("//static.rafled.com/static/Inter-Regular.ttf");
}
* {
    font-family: Inter,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
form {
    display: inline-flex;
    flex-direction: column;
}
.input-b {
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 0.5em;
    border: none;
    background-color: antiquewhite;
    font-size: 1.4em;
    outline-color: gainsboro;
}
.button {
    padding: 0.5em 2em;
    font-size: 1em;
    background: #6060e7;
    border: none;
    color: white;
    margin: 0.5em;
    border-radius: 0.5em;
    max-width: fit-content;
}
.wrapper-main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
}